<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Zibo's host</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% load static %}
    <script src="{% static 'booking/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'booking/jquery/jquery.js' %}"></script>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/media/media/style/wave.css">
    <link rel="stylesheet" type="text/css" href="/media/media/style/style.css">
  </head>
  <body>
    <div >
        
        <div class="wave-animation"> 
            <div class="top_button_place">
                <div>
                    <a href="/about">
                        <i class="fa fa-user-circle fa-3x"></i>
                    </a>
                </div>
                <div>
                    <!--<a href="#"><i class="fa fa-info-circle fa-3x"></i></a>
                    
                   
                    -->
                </div>
            </div>
            
            
            
            <div class="wave">
            </div>
            
        </div>
    </div>
    <div class="home_main">
        {% block content %}
        {% endblock  %}
        <div class="cb"></div>
    </div>    

    
  </body>
</html>